<form [formGroup]="formTest">
    <ng-container>
        <ng-container>
            <div class="grid" formArrayName="arrTest">
                <div *ngFor="let arr of arrTest.controls; index as i" [formGroupName]="i">
                    <div class="col-6">
                        <p-dropdown [options]="competencias" formControlName="idCompetencia" placeholder="Selecione uma Competência"></p-dropdown>
                    </div>
                    <div class="col-6">
                        <p-dropdown [options]="nivel" formControlName="nivel" placeholder="Selecione um Nível"></p-dropdown>
                    </div>
                    <div class="col-1 col-offset-5">
                        <button type="button" (click)="adicionar()" icon="ui-icon-plus" pButton ></button>
                        <button (click)="addTst()">Add City</button>
                        <button (click)="setPreset()">Set preset</button>
                        <button (click)="onSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</form>
