<form [formGroup]="formCol" (submit)="salvarColaborador()" >
    <p-card>
        <div class="grid mb-4 pl-2 pr-2 align-items-center">
            <h2>Inscrição</h2>
        </div>
        <div class="grid">
            <div class="col-4">
            <span class="ui-float-label">
                <input type="text" id="colaboradorNome" name="colaboradorNome" pInputText formControlName="nome"/>
                <label for="colaboradorNome">Nome</label>
            </span>
            </div>
            <div class="col-4">
            <span class="ui-float-label">
                <input type="text" id="colaboradorSobrenome" name="colaboradorSobrenome" pInputText formControlName="sobrenome">
                <label for="colaboradorSobrenome">Sobrenome</label>
            </span>
            </div>
            <div class="col-4">
            <span class="ui-float-label">
                <input type="email" id="colaboradorEmail" name="colaboradorEmail" email pInputText formControlName="email">
                <label for="colaboradorEmail">Email</label>
            </span>
            </div>
            <div class="col-2 mt-5">
            <span class="ui-float-label">
                <p-inputMask type="text" id="colaboradorCPF" name="colaboradorCPF" mask="999.999.999-99" unmask = "true" formControlName="cpf"></p-inputMask>
                <label for="colaboradorCPF">CPF</label>
            </span>
            </div>
            <div class="col-2 mt-5">
            <span class="ui-float-label">
                <p-calendar name="dataNascimento" formControlName="data_nasc">
                </p-calendar>
                <label>Data de Nascimento</label>
            </span>
            </div>
            <div class="col-2 mt-5">
            <span class="ui-float-label">
                <p-calendar  name="dataAdmissao" formControlName="data_admi"></p-calendar>
                <label>Data de Admissão</label>
            </span>
            </div>

            <div class="col mt-5">
                <label class="pr-2">Senioridade:</label>
                <p-radioButton name="groupname" value="1" label="Estagiário" class="pr-2" formControlName="id_senioridade"></p-radioButton>
                <p-radioButton name="groupname" value="2" label="Júnior" class="pr-2" formControlName="id_senioridade"></p-radioButton>
                <p-radioButton name="groupname" value="3" label="Pleno" class="pr-2" formControlName="id_senioridade"></p-radioButton>
                <p-radioButton name="groupname" value="4" label="Sênior" formControlName="id_senioridade"></p-radioButton>
            </div>
        </div>
        <div class="grid">
            <div class="col-2 " class='img-wrapper m-3'>
            </div>
            <div class=" col-5 mt-5">
                <p-fileUpload name="myfile[]" accept="image/*" maxFileSize="5000000" customUpload="true" chooseLabel="Escolher Foto">
                </p-fileUpload>
            </div>
            <div class="col-1 col-offset-11">
                <p-button label="Salvar" type="submit" styleClass="ui-button-success"></p-button>
            </div>
        </div>


        <p-card>
            <div class="grid mb-3 mt-2 pl-2 pr-2 align-items-center" [formGroup]="competencias" >
                <h2>Lista de Tecnologias</h2>
                <p-card class="mt-10" id="cardButton">
                    <div class="grid" >
                        <div class="col-4">
                            <p-dropdown name="categoria" placeholder="Selecione uma Categoria">
                            </p-dropdown>
                        </div>
                        <div class="col-4">
                            <p-dropdown [options]="competencia" formControlName="id_competencia" placeholder="Selecione uma Competência"></p-dropdown>
                        </div>
                        <div class="col-4">
                            <p-dropdown [options]="nivel" formControlName="nivel" placeholder="Selecione um Nível"></p-dropdown>
                        </div>
                        <div class="col-1 col-offset-5">
                            <button type="button" icon="ui-icon-plus" pButton ></button>
                        </div>
                    </div>
                </p-card>
            </div>


            <p-table responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Competência</th>
                        <th>Nível</th>
                        <th>Ação</th>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </p-card>
</form>

