<block-ui>
    <p-card>
        <div class="grid mb-3 mt-2 pl-2 pr-2 align-items-center">
            <h2>LISTA DE COMPETÊNCIA</h2>
            <span class="col"></span>
            <button pButton type="button" (click)="show()" icon="ui-icon-plus" class="ui-button-success" iconPos="left" label="Nova Competencia"></button>
        </div>
        <p-table [value]="competencias" [responsive]="true" paginator="true" rows="5">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th [ngStyle]="{'width': '120px'}">Ação</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-competencia>
                <tr>
                    <td>{{competencia.nome}}</td>
                    <td>{{competencia.descricao}}</td>
                    <td>{{competencia.nomeCategoria}}</td>
                    <td style="text-align:center">
                        <button pButton type="button" icon="pi pi-pencil" (click)="showOne(competencia.id)"></button>
                        <button pButton type="button" icon="pi pi-trash" (click)="onDelete(competencia.id)" class="ui-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</block-ui>

