<p-table [value]="turmas" [responsive]="true" paginator="true" rows="5">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data Inicio</th>
            <th>Data Termino</th>
            <th>Status</th>
            <th [ngStyle]="{'width': '120px'}">Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-turma>
        <tr>
            <td class="text-center">{{turma.nome}}</td>
            <td>{{turma.descricao}}</td>
            <td class="text-center">{{turma.data_inicio | date: 'dd/MM/yyyy'}}</td>
            <td class="text-center">{{turma.data_termino | date: 'dd/MM/yyyy'}}</td>
            <td class="text-center">{{turma.status}}</td>
            <td style="text-align:center">
                <button pButton type="button" (click)="navigateTo(turma.id)" icon="pi pi-pencil"
                        styleClass="rounded-button ui-button-help"></button>
                <button pButton type="button" (click)="excluirTurma(turma)" icon="pi pi-trash"
                        class="ui-button-danger" styleClass="rounded-button ui-button-danger"></button>
            </td>
        </tr>

    </ng-template>
</p-table>
