<form [formGroup]="formCol">
    <p-card>
        <div class="grid mb-4 pl-2 pr-2 align-items-center">
            <h2>Inscrição</h2>
        </div>
        <div class="grid">
            <div class="col-4">
            <span class="ui-float-label">
                <input type="text" id="colaboradorNome" name="colaboradorNome" pInputText formControlName="nome"/>
                <label for="colaboradorNome">Nome</label>
            </span>
            </div>
            <div class="col-4">
            <span class="ui-float-label">
                <input type="text" id="colaboradorSobrenome" name="colaboradorSobrenome" pInputText formControlName="sobrenome">
                <label for="colaboradorSobrenome">Sobrenome</label>
            </span>
            </div>
            <div class="col-4">
            <span class="ui-float-label">
                <input type="email" id="colaboradorEmail" name="colaboradorEmail" email pInputText formControlName="email">
                <label for="colaboradorEmail">Email</label>
            </span>
            </div>
            <div class="col-2 mt-5">
            <span class="ui-float-label">
                <p-inputMask type="text" id="colaboradorCPF" name="colaboradorCPF" mask="999.999.999-99" unmask = "true" formControlName="cpf"></p-inputMask>
                <label for="colaboradorCPF">CPF</label>
            </span>
            </div>
            <div class="col-2 mt-5">
            <span class="ui-float-label">
                <p-calendar dateFormat="dd/mm/yy" formControlName="data_nasc">
                </p-calendar>
                <label>Data de Nascimento</label>
            </span>
            </div>
            <div class="col-2 mt-5">
            <span class="ui-float-label">
                <p-calendar dateFormat="dd/mm/yy" formControlName="data_admi"></p-calendar>
                <label>Data de Admissão</label>
            </span>
            </div>

            <div class="col mt-5">
            <span class="ui-float-label">
                <p-dropdown id="float-input" [autoDisplayFirst]="false" [options]="senioridades" formControlName="idSenioridade"></p-dropdown>
                <label for="float-input">Senioridade</label>
            </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-2 " class='img-wrapper m-3'>
            </div>
            <div class=" col-5 mt-5">
                <p-fileUpload (onSelect)="onUpload($event)"
                              multiple="multiple" accept="image/*" maxFileSize="1000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>

        </div>


<!--        <p-card>-->
<!--            <div class="grid mb-3 mt-2 pl-2 pr-2 align-items-center" >-->
<!--                <h2>Lista de Tecnologias</h2>-->
<!--                <p-card class="mt-10" id="cardButton">-->

<!--                    <app-colaborador-competencia-form [formPai]="formCol" [aoReceber]="config" (aoAdicionar)="adicionarCompetencia($event)">-->

<!--                    </app-colaborador-competencia-form>-->

<!--                </p-card>-->
<!--            </div>-->


<!--            <p-table [value]="comps" responsiveLayout="scroll">-->
<!--                <ng-template pTemplate="header">-->
<!--                    <tr>-->
<!--                        <th>Competência</th>-->
<!--                        <th>Nível</th>-->
<!--                        <th>Ação</th>-->
<!--                    </tr>-->
<!--                </ng-template>-->
<!--                <ng-template pTemplate="body" let-cc>-->
<!--                    <tr>-->
<!--                        <td class="text-center">{{cc.idCompetencia}}</td>-->
<!--                        <td class="text-center">{{cc.nivel}}</td>-->
<!--                        <td style="text-align:center">-->
<!--                            <p-button icon="pi pi-trash" class="ui-button-danger" (click)="deletarCompetencia(cc)" styleClass="rounded-button ui-button-danger"></p-button>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </ng-template>-->
<!--            </p-table>-->

<!--        </p-card>-->
        <div class="col-1 col-offset-11">
            <p-button label="Salvar" (click)="salvarColaborador()" type="submit" styleClass="ui-button-success"></p-button>
        </div>
    </p-card>
</form>

